{{ package_name|upper }}_LOG_LEVEL=INFO
{% if cloud == 'aws' %}{{ package_name|upper }}_AWS_REGION=eu-north-1
{{ package_name|upper }}_AWS_PROFILE=
{% if container %}{{ package_name|upper }}_AWS_ENDPOINT_URL=
{% endif %}{% endif %}{% if cloud == 'gcp' %}{{ package_name|upper }}_GCP_PROJECT=
{{ package_name|upper }}_GCP_EMULATOR_HOST=
{% endif %}{% if db == 'postgres' %}{{ package_name|upper }}_DATABASE_URL=postgresql+psycopg://{{ package_name }}:{{ package_name }}@localhost:5432/{{ package_name }}
{% endif %}{% if db == 'sqlite' %}{{ package_name|upper }}_DATABASE_URL=sqlite{% if db_async %}+aiosqlite{% endif %}:///./{{ package_name }}.db
{% endif %}{% if redis %}{{ package_name|upper }}_REDIS_URL=redis://localhost:6379/0
{% endif %}
