{{ package_name|upper }}_LOG_LEVEL=INFO
{% if cloud == 'aws' %}{{ package_name|upper }}_AWS_REGION=eu-north-1
{{ package_name|upper }}_AWS_PROFILE=
{% if container %}{{ package_name|upper }}_AWS_ENDPOINT_URL=
{% endif %}{% endif %}{% if cloud == 'gcp' %}{{ package_name|upper }}_GCP_PROJECT=
{{ package_name|upper }}_GCP_EMULATOR_HOST=
{% endif %}
