from pydantic_settings import BaseSettings, SettingsConfigDict


class Settings(BaseSettings):
    model_config = SettingsConfigDict(
        env_prefix="{{ package_name|upper }}_",
        env_file=".env",
        env_nested_delimiter="__",
        extra="ignore",
    )

    log_level: str = "INFO"
{% if cloud == 'aws' %}
    aws_region: str = "eu-north-1"
    aws_profile: str = ""
{% if container %}    aws_endpoint_url: str = ""
{% endif %}{% endif %}{% if cloud == 'gcp' %}
    gcp_project: str = ""
    gcp_emulator_host: str = ""
{% endif %}{% if db == 'postgres' %}
    database_url: str = "postgresql+psycopg://{{ package_name }}:{{ package_name }}@localhost:5432/{{ package_name }}"
{% endif %}{% if db == 'sqlite' %}
    database_url: str = "sqlite{% if db_async %}+aiosqlite{% endif %}:///./{{ package_name }}.db"
{% endif %}{% if redis %}
    redis_url: str = "redis://localhost:6379/0"
{% endif %}

settings = Settings()
